<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4 w-50 border-0">
        <h2 class="fw-bold text-center">Change Password</h2>

        <form action="/members/change-password" method="POST" class="d-flex flex-column gap-3">
            <input type="hidden" name="id" value="<%= member._id %>" />
            <!-- Current Password -->
            <div class="input-group">
                <input type="password" name="currentPassword" id="currentPassword" class="form-control"
                    placeholder="Current Password" required>
            </div>

            <!-- New Password -->
            <div class="input-group">
                <input type="password" name="newPassword" id="newPassword" class="form-control"
                    placeholder="New Password" required>
            </div>

            <!-- Confirm New Password -->
            <div class="input-group">
                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm New Password"
                    required>
            </div>
            <p id="error-message" class="text-danger" style="display: none;"></p>
            <% if(error) {%>
                <div class="text-danger">
                    <%= error %>
                </div>
                <% } %>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary w-100">Change Password</button>

                    <!-- Back Button -->
                    <a href="/" class="btn btn-secondary w-100">Back to Home</a>
        </form>
    </div>
</div>

<script>
    const confirmPassword = document.getElementById('confirmPassword');
    const newPassword = document.getElementById('newPassword');
    const errorMessage = document.getElementById('error-message');
    const submitButton = document.querySelector('button[type="submit"]');

    confirmPassword.addEventListener('input', () => {
        if (confirmPassword.value !== newPassword.value) {
            errorMessage.style.display = "block";
            errorMessage.innerText = "Passwords do not match!";
            submitButton.disabled = true;
            return false;
        } else {
            errorMessage.style.display = "none";
            submitButton.disabled = false;
            return true;
        }
    });
</script>